# Importing Libraries

Importing libraries such as Kaggle, zipfile,Pandas, Numpy, Seaborn, matplotlib etc.

In [ ]:
import kaggle

Download Dataset from Kaggle to local

In [ ]:
!kaggle datasets download rajeshrampure/zomato-dataset

Extract the zip file to get the required dataset using zipfile library

In [ ]:
import zipfile
zip_ref=zipfile.ZipFile('zomato-dataset.zip')
zip_ref.extractall()
zip_ref.close()

In [ ]:
import pandas as pd
df=pd.read_csv('zomato.csv')

In [ ]:
df.head()

In [ ]:
df['menu_item'].unique()

In [ ]:
df['listed_in(city)'].unique()

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import warnings 
warnings.filterwarnings('ignore')

In [ ]:
df.columns

In [ ]:
df.isna().sum()

Drop the unwanted columns

In [ ]:
drop_columns=['url','phone','reviews_list','menu_item']
df.drop(drop_columns,axis=1,inplace=True)

In [ ]:
df.head()

In [ ]:
df.shape

In [ ]:
df.info()

Cleaning "address" column for future usecase

In [ ]:
df['address']=df['address'].str.split(',').str[-1].str.strip()
df['address'].str.replace(r'Bangalore|Banglore','Bengaluru',case=False,regex=True)

Percentage of missing value in each column

In [ ]:
df.isna().mean()*100

Dropping dish_liked column as it is having more null percentage

In [ ]:
df.drop("dish_liked",axis=1,inplace=True)

In [ ]:
df

In [ ]:
df.isna().sum()

In [ ]:
df['rate'].unique()

#Cleaning rate column

As it is having multiple different values such as 'nan','/',' /' etc making it to single unique values

In [ ]:
df['rate']=df['rate'].str.strip('/').str[0].str.strip()
df['rate']=df['rate'].str.strip(' /').str[0].str.strip()
df['rate']=df['rate'].str.strip('_').str[0].str.strip()
df['rate']=pd.to_numeric(df['rate'],errors='coerce')
df['rate']=df['rate'].astype(float)
df['rate']=df['rate'].fillna(0)
df['rate'].unique()

In [ ]:
df.head()

In [ ]:
df.isna().sum()

In [ ]:
df.dropna(inplace=True)
df.reset_index(drop=True,inplace=True)

In [ ]:
df.isna().sum()

Cleaning 'approx_cost(for two people)' and changing its dtype

In [ ]:
df['approx_cost(for two people)'].unique()

In [ ]:
df['approx_cost(for two people)']=df['approx_cost(for two people)'].str.replace(',','')

In [ ]:
df['approx_cost(for two people)'].unique()

In [ ]:
df['approx_cost(for two people)']=df['approx_cost(for two people)'].astype(float)

In [ ]:
df['approx_cost(for two people)'].dtype

In [ ]:
df.head(5)

Restaurants delivering Online or not

In [ ]:
df['online_order'].value_counts().plot(kind='pie',autopct='%0.2f%%',shadow=True,explode=[0,0.05])
plt.title('Restaurants Delivering online or not')
plt.ylabel('Online Order Percentage')

Restaurants allowing table booking or not

In [ ]:
df.book_table.value_counts().plot(kind='pie',explode=[0,0.05],autopct='%0.02f%%')
plt.title('Restaurants Offering table booking')
plt.ylabel('Table Booking Percentage')

Table booking Rate vs Rate

In [ ]:
group_df=df.groupby('book_table')['rate'].mean().reset_index()
sns.barplot(data=group_df,x='book_table',y='rate')
plt.title('Table Bookings vs Rate')
plt.xlabel('Table Bookings')
plt.ylabel('Average Ratings')
plt.show()

In [ ]:
df.head()

Top 10 Locations in Restaurants count wise

In [ ]:
top10_loc=df['listed_in(city)'].value_counts()[:10].reset_index()
top10_loc.columns=['city','count']
# top10_loc.columns
# plt.figure(figsize=(10,5))
sns.barplot(data=top10_loc,x='city',y='count')
plt.xlabel('Restaurant City')
plt.ylabel('Count of restaurants')
plt.title('Top 10 Locations in Restaurants count wise')
plt.xticks(rotation=90)

In [ ]:
# Relation between Location and Rating
best_location_rating=df.groupby('listed_in(city)')['rate'].mean().reset_index()
# best_location_rating.sort_values('rate',ascending=False)
best_location_rating=best_location_rating.sort_values(by='rate',ascending=False)
plt.figure(figsize=(10,5))
sns.barplot(data=best_location_rating,x='listed_in(city)',y='rate')
plt.xlabel('Restaurant location')
plt.ylabel('AVG rating')
plt.title('AVG restaurants rating for each location')
plt.xticks(rotation=90)
plt.tight_layout()
plt.show()

Restaurant Types

In [ ]:
df.columns

In [ ]:
types_df=df.rest_type.value_counts()[:10].reset_index()
types_df.columns=['type','count']
# top10_loc.columns
# plt.figure(figsize=(10,5))
sns.barplot(data=types_df,x='type',y='count')
plt.xticks(rotation=90)
plt.title('Types of Restaurants and their count in City')
plt.xlabel('Types of Restaurants')
plt.ylabel('Count')

Types of Services

In [ ]:
df.columns

In [ ]:
services=df['listed_in(type)'].value_counts().reset_index()
services.columns=['service','count']
sns.barplot(data=services,x='service',y='count')
plt.title('Types of services offered in City')
plt.xlabel('Service')
plt.ylabel('Count of Restaurants')
plt.xticks(rotation=90)
plt.show()

In [ ]:
df.columns

In [ ]:
cost_per_rest=df.groupby('listed_in(city)')['approx_cost(for two people)'].mean().reset_index()
cost_per_rest.columns=['Area','Avg']
plt.figure(figsize=(10,5))
sns.barplot(data=cost_per_rest.sort_values('Avg', ascending=False),x='Area',y='Avg')
plt.title('Average Price of Restaurant vs Location')
plt.xlabel('Area / Location')
plt.ylabel('Avg Price of Restaurant')
plt.xticks(rotation=90)
plt.show()

In [ ]:
cost_per_rest.sort_values()